*{
    box-sizing: border-box;
}

body{
    background-color: #FFF;
    margin: 0 auto;
}

#banner  {
    background-color: #466995;
    border-bottom: 0.5vw solid #466995;
    position:fixed;
    width : 100%;
    z-index: 3;
    top: 0;
    opacity: 0.8;
}

#banner ul{
    padding: 0 2vw;
    text-align: center;
    margin: 2vw auto;
}

#banner li{
    display: inline-block;
    width: 15%;
    margin: auto 2vw;
}

#banner ul li a{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}


h2, h3{
    margin: 0;
}

h3{
    font-size: 2vw;
    font-weight: 500;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.5vw;
}
#intro {
    margin-top: 5.5vw;
    margin-bottom: 2vw;
}
#intro h1 {
    font-size: 3.5vw;
    margin-top: 0;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

#intro p {
    padding-left: 1vw;
    margin: 0;
}
article {
    margin: auto 2vw;
}

footer {
    width: 100%;
}
