*{
    box-sizing: border-box;
}

body{
    background-color: rgb(58, 17, 67);;
    width: 100%;
    margin: auto;
}

#body{
    background-color: rgb(215, 211, 211);
    margin: auto;
    width: 70%;
    font-size: 2vw;
}
/*
#banner  {
    background-color: black;
    border-bottom: 0.3vw solid #000;
    position:fixed;
    width : 100%;
    z-index: 3;
    top: 0;
    opacity: 0.8;
}

#banner ul{
    padding: 0 2vw;
    text-align: center;
    margin: 2vw auto;
    display: block;
    width: 100%
}

#banner li{
    display: inline-block;
    width: 20%;
    margin: auto 2vw;
}

#banner ul li a{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

*/
h2, h3, h4{
    margin: 0;
}

h3{
    font-size: 0.8em;
    font-weight: 500;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 0.6em;
}

section{
    margin: 3vw auto;
}

#intro {
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    position: relative;
}
#intro h1 {
    margin-top: 0;
    font-size: 2em;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

hr{
    background-color: black;
}

#intro p {
    padding-left: 1vw;
    margin: 0;
    font-size: 0.5em;
}
article {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
    position: relative;
}

/*projects */
#projects div{
    display: inline-block;
}

.project {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1vw 0.5vw;
    margin: 1vw 2vw;
    border: 1px solid black;
    display: block;
    cursor: pointer;
}
.project:hover{
    box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw #5791c196;;
}

#description {
    border: 0.5px solid brown;
    padding: 1vw;
    display: block;
    margin: 0.5vw 1vw;
    visibility: hidden;
}

table{
    width: 100%;
}

th{
    font-size: 0.8em;
}

td{
    font-size: 0.6em;
    word-wrap: normal;
}

#experience{
    margin-top: 0;
}

/*education*/
#education table tr{
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#education table tr td{
    padding: 0.2vw 1vw;
}

/*moocs*/
#moocs table tr{
    margin-top: 1vw;
    margin-bottom : 1vw;
}
#moocs table tr td{
    padding: 0.2vw 1vw;
}

/*achievements*/
#achievements{
    position: relative;
    display: block;
    margin-top: 1vw;
    margin-bottom: 1em;
}

#achievements ul {
    margin: 0;
}

#achievements li{
    font-size: 0.6em;
}

footer {
    background-color: black;
    position:fixed;
    width: 70%;
    z-index: 3;
    bottom: 0;
}

footer div{
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    font-family: sans-serif;
    font-size: 0.6em;
}
