.font_helvetica{
    font-family: Helvetica;
}

h1{
    font-size:100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://get.pxhere.com/photo/texture-floor-wall-pattern-line-color-tile-circle-art-pastel-design-symmetry-mosaic-shape-flooring-road-surface-41265.jpg");
}
.text-blue{
    color:blue;
}
.sub-heading{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
img{
    float:none;
}
#brushes{
    background-color: mediumspringgreen ;
}

#frames{
    background-color: lightcoral; 
}

#paint{
    background-color: skyblue;
}
